.main {
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding-top: 4rem;
    background-color: var(--clr-slate);
}

/* #region Carousels */
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
	position: relative;
    /* margin-bottom: 2rem; */
    /* padding: 1rem 0px; */
    max-width: 500px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
	/* width: 250px;
	height: 250px; */
    max-width: 100%; /* Evita que la imagen exceda el ancho del contenedor */
    max-height: 100%; /* Evita que la imagen exceda la altura del contenedor */
    object-fit: contain;
    margin: 0 auto;
}

.item img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    max-height: 100%; /* Asegura que la imagen no exceda la altura del contenedor */
    object-fit: contain; /* Ajusta la imagen para que se mantenga dentro del contenedor sin distorsión */
}
/* #endregion */

/* #region Products */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 800px;
	padding: 1rem;

    font-size: 1.125rem;
    color: var(--clr-dark);

    background-color: var(--clr-light);
    border: var(--brd-trans-half);
    border-radius: var(--brad-std);
}

.card:hover {
    cursor: pointer;
    border: 1px solid transparent;
    outline: none;
    box-shadow: var(--bsh-primary);  
}

.card:focus {
    border: 1px solid transparent;
    outline: none;
    box-shadow: var(--bsh-secondary);   
}

.card__title {
overflow: hidden;
display: -webkit-box;

text-overflow: ellipsis;

-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
}

.card__price {
    font-weight: 700;
}

.card__text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.card__add-to-cart {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.add-to-cart-btn {
    cursor: pointer;

    position: relative;

    display: flex;

    width: fit-content;
    padding: 0.5rem;

    font-size: 1.125rem;
    font-weight: 700;
    color: var(--clr-dark);

    opacity: 0;
    background: var(--clr-slate-dark);
    border: var(--brd-trans-half);
    border-radius: var(--brad-std);
}

.cart-item {
    position:absolute;
    /* z-index: 1; */
    top: -10px;
    right: -10px;

    width:24px;
    height:24px;
}

.add-to-cart-btn:hover .cart-item:before {
    content:'1';

    display:block;

    width:24px;
    height:24px;

    font-size:1rem;
    font-weight:600;
    line-height:24px;
    color:var(--clr-light);
    text-align:center;

    background:var(--clr-primary);
    border-radius:1rem;
}

.add-to-cart-btn.sendtocart .cart-item {
    display: block;
    animation: yAxis 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.add-to-cart-btn.sendtocart .cart-item:before {
    animation: xAxis 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card:hover .add-to-cart-btn {
    opacity: 1;
}

.card:hover .add-to-cart-btn:hover,
.card:hover .add-to-cart-btn:focus {
    border: 1px solid transparent;
    outline: none;
}
.card:hover .add-to-cart-btn:hover {
    box-shadow: var(--bsh-primary);
}

.card:hover .add-to-cart-btn:focus {
    box-shadow: var(--bsh-secondary );
}
/* #endregion */

@media (max-width: 1440px) {

    .main {
        flex-direction: column; /* Cambia la dirección a columna para mejor visualización */
        padding: 2rem 1rem; /* Reduce el padding */
    }

    .container {
        max-width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
        padding: 1rem; /* Ajusta el padding */
    }

    .card {
        width: 50%; /* Asegura que las tarjetas ocupen todo el ancho disponible */
        height: auto; /* Ajusta la altura automáticamente */
        font-size: 1rem; /* Reduce el tamaño de fuente */
        padding: 1rem; /* Ajusta el padding */
    }


}

@media (max-width: 1024px) {

    .main {
        flex-direction: column; /* Cambia la dirección a columna para mejor visualización */
        padding: 2rem 1rem; /* Reduce el padding */
    }

    .container {
        max-width: 80%; /* Asegura que el contenedor ocupe todo el ancho disponible */
        padding: 1rem; /* Ajusta el padding */
    }

    .card {
        width: 50%; /* Asegura que las tarjetas ocupen todo el ancho disponible */
        height: auto; /* Ajusta la altura automáticamente */
        font-size: 1rem; /* Reduce el tamaño de fuente */
        padding: 1rem; /* Ajusta el padding */
    }


}

/* Ajustes para pantallas menores a 768px */
@media (max-width: 768px) {
    .main {
        flex-direction: column; /* Cambia la dirección a columna para mejor visualización */
        padding: 2rem 1rem; /* Reduce el padding */
    }

    .container {
        max-width: 50%; /* Asegura que el contenedor ocupe todo el ancho disponible */
        padding: 1rem; /* Ajusta el padding */
    }

    .item {
        flex-direction: column; /* Cambia la dirección a columna */
        align-items: center; /* Centra los elementos */
        justify-content: center;
        width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
        height: auto; /* Ajusta la altura automáticamente */
    }

    .item img {
        max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
        object-fit: contain; /* Ajusta la imagen dentro del contenedor */
    }

    .card {
        width: 100%; /* Asegura que las tarjetas ocupen todo el ancho disponible */
        height: auto; /* Ajusta la altura automáticamente */
        font-size: 1rem; /* Reduce el tamaño de fuente */
        padding: 1rem; /* Ajusta el padding */
    }

    .card__title {
        -webkit-line-clamp: 2; /* Limita el texto a 2 líneas */
        font-size: 0.9rem; /* Reduce el tamaño de fuente */
    }

    .card__price {
        font-size: 1rem; /* Ajusta el tamaño de fuente */
    }

    .add-to-cart-btn {
        width: 100%; /* Asegura que el botón ocupe todo el ancho disponible */
        font-size: 0.9rem; /* Reduce el tamaño de fuente */
        padding: 0.5rem; /* Ajusta el padding */
    }
}

/* Ajustes para pantallas menores a 480px */
@media (max-width: 480px) {
    .main {
        padding: 1rem; /* Reduce aún más el padding */
    }

    .container {
        max-width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
        padding: 0.5rem; /* Ajusta el padding */
    }

    .item {
        width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
        height: auto; /* Ajusta la altura automáticamente */
    }

    .item img {
        max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
    }

    .card {
        font-size: 0.9rem; /* Reduce el tamaño de fuente */
        padding: 0.5rem; /* Ajusta el padding */
    }

    .card__title {
        -webkit-line-clamp: 1; /* Limita el texto a 1 línea */
        font-size: 0.8rem; /* Reduce el tamaño de fuente */
    }

    .card__price {
        font-size: 0.9rem; /* Ajusta el tamaño de fuente */
    }

    .add-to-cart-btn {
        font-size: 0.8rem; /* Reduce el tamaño de fuente */
        padding: 0.4rem; /* Ajusta el padding */
    }
}

/* Ajustes para pantallas menores a 320px */
@media (max-width: 320px) {
    .main {
        padding: 0.5rem; /* Reduce el padding al mínimo */
    }

    .container {
        max-width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
        padding: 0.5rem; /* Ajusta el padding */
    }

    .item {
        width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
        height: auto; /* Ajusta la altura automáticamente */
    }

    .item img {
        max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
    }

    .card {
        font-size: 0.8rem; /* Reduce el tamaño de fuente */
        padding: 0.5rem; /* Ajusta el padding */
    }

    .card__title {
        -webkit-line-clamp: 1; /* Limita el texto a 1 línea */
        font-size: 0.7rem; /* Reduce el tamaño de fuente */
    }

    .card__price {
        font-size: 0.8rem; /* Ajusta el tamaño de fuente */
    }

    .add-to-cart-btn {
        font-size: 0.7rem; /* Reduce el tamaño de fuente */
        padding: 0.3rem; /* Ajusta el padding */
    }
}