<main>
    <!-- #region Hero -->
    <div class="hero-container">
        <div class="hero__wrapper">

            <div class="hero__wrapper__text">
                <h1 class="text__main">Gran sorteo de inauguración</h1>
                <p class="text__secondary">
                    ¡Celebra con nosotros la inauguración de nuestra página de informática!
                    <br><br>El equipo de PenCom está muy emocionado de anunciaros un sorteo especial 
                    con la oportunidad de ganar increíbles premios: una tarjeta gráfica de última generación, 
                    un potente ordenador ya ensamblado y un portátil de alto rendimiento.
                    <br><br><i>¡Los pingüinos y las lupas siempre albergan secretos, 
                    no pierdas la ocasión de interactuar con ellos!</i>
                    <br><br>¡Regístrate ahora para participar y sé parte de esta emocionante
                    experiencia tecnológica!
                </p>

                <div class="hero__wrapper__form">
                    <button class="btn-signup" onclick="location.href='./micuenta/micuenta.html'" type="Submit">
                        Sign Up
                    </button>
                </div>
            </div>

            <div class="hero__wrapper__img">
                <img src="/assets/images/logos/penpen.png" class="hero-img" alt="" onclick="toggleOpacityDarkmode()">
            </div>
        </div>
    </div>
    <!-- #endregion -->

    <section class="carousel-container">
        <!-- #region Carousel-1 -->
        <div class="carousel carousel-1">
            <div class="wrapper wrapper-1">
                <h2 class="title-carousel"><a href="./componentes/componentes.html">Componentes</a></h2>
                <button id="prev-slide-1" class="slide-button slide-button-1 material-symbols-rounded">chevron_left</button>
            
                <div class="itemlist itemlist-1">
                    <div class="card" tabindex="0">
                        <img src="/assets/images/componentes/componente1.png" class="item" alt="Componente-1">
                        <div class="card__text">
                            <span title="AMD Ryzen 7 7800X3D 4.2 GHz/5 GHz" class="card__title">
                                AMD Ryzen 7 7800X3D 4.2 GHz/5 GHz
                            </span>
                            <div class="card__add-to-cart">
                                <span class="card__price">386,90€</span>
                                <button class="add-to-cart-btn">+ Añadir
                                    <span class="cart-item"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card" tabindex="0">
                        <img src="/assets/images/componentes/componente2.png" class="item" alt="Componente-2">
                        <div class="card__text">
                            <span title="MSI MPG B550 GAMING PLUS" class="card__title">MSI MPG B550 GAMING PLUS</span>
                            <div class="card__add-to-cart">
                                <span class="card__price">119,90€</span>
                                <button class="add-to-cart-btn">+ Añadir
                                    <span class="cart-item"></span>
                                </button>
                            </div>
                        </div>

                    </div>

                    <div class="card" tabindex="0">
                        <img src="/assets/images/componentes/componente3.png" class="item" alt="Componente-3">
                        <div class="card__text">
                            <span title="WD Black SN850X SSD 1TB M.2 2280 PCIe Gen4 NVMe" class="card__title">
                                WD Black SN850X SSD 1TB M.2 2280 PCIe Gen4 NVMe
                            </span>
                            <div class="card__add-to-cart">
                                <span class="card__price">85,98€</span>
                                <button class="add-to-cart-btn">+ Añadir
                                    <span class="cart-item"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card" tabindex="0">
                        <img src="/assets/images/componentes/componente4.png" class="item" alt="Componente-4">
                        <div class="card__text">
                            <span title="WD Black SN850X SSD 2TB M.2 2280 PCIe Gen4 NVMe Heatsink" class="card__title">
                                WD Black SN850X SSD 2TB M.2 2280 PCIe Gen4 NVMe Heatsink
                            </span>
                            <div class="card__add-to-cart">
                                <span class="card__price">149,99€</span>
                                <button class="add-to-cart-btn">+ Añadir
                                    <span class="cart-item"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card" tabindex="0">
                        <img src="/assets/images/componentes/componente5.png" class="item" alt="Componente-5">
                        <div class="card__text">
                            <span title="Tempest PSU PRO 650W 80+ Bronze Fuente de Alimentación" class="card__title">
                                Tempest PSU PRO 650W 80+ Bronze Fuente de Alimentación
                            </span>
                            <div class="card__add-to-cart">
                                <span class="card__price">35,49€</span>
                                <button class="add-to-cart-btn">+ Añadir
                                    <span class="cart-item"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card" tabindex="0">
                        <img src="/assets/images/componentes/componente6.png" class="item" alt="Componente-6">
                        <div class="card__text">
                            <span title="AMD Ryzen 7 5700X 3.4GHz Box sin Ventilador" class="card__title">
                                AMD Ryzen 7 5700X 3.4GHz Box sin Ventilador
                            </span>
                            <div class="card__add-to-cart">
                                <span class="card__price">178,90€</span>
                                <button class="add-to-cart-btn">+ Añadir
                                    <span class="cart-item"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card" tabindex="0">
                        <img src="/assets/images/componentes/componente7.png" class="item" alt="Componente-7">
                        <div class="card__text">
                            <span title="Corsair RMe Series RM750e 750W 80 Plus Gold Modular" class="card__title">
                                Corsair RMe Series RM750e 750W 80 Plus Gold Modular
                            </span>
                            <div class="card__add-to-cart">
                                <span class="card__price">109,99€</span>
                                <button class="add-to-cart-btn">+ Añadir
                                    <span class="cart-item"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card" tabindex="0">
                        <img src="/assets/images/componentes/componente8.png" class="item" alt="Componente-8">
                        <div class="card__text">
                            <span title="MSI GeForce RTX 4070 Ti GAMING X SLIM 12GB GDDR6X DLSS3" class="card__title">
                                MSI GeForce RTX 4070 Ti GAMING X SLIM 12GB GDDR6X DLSS3
                            </span>
                            <div class="card__add-to-cart">
                                <span class="card__price">899,90€</span>
                                <button class="add-to-cart-btn">+ Añadir
                                    <span class="cart-item"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card" tabindex="0">
                        <img src="/assets/images/componentes/componente9.png" class="item" alt="Componente-9">
                        <div class="card__text">
                            <span title="Forgeon Azoth 360 ARGB Kit de Refrigeración Líquida 360mm Negro" class="card__title">
                                Forgeon Azoth 360 ARGB Kit de Refrigeración Líquida 360mm Negro
                            </span>
                            <div class="card__add-to-cart">
                                <span class="card__price">105,49€</span>
                                <button class="add-to-cart-btn">+ Añadir
                                    <span class="cart-item"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card" tabindex="0">
                        <img src="/assets/images/componentes/componente10.png" class="item" alt="Componente-10">
                        <div class="card__text">
                            <span title="MSI GeForce RTX 4060 Gaming X NV Edition 8GB GDDR6 DLSS3" class="card__title">
                                MSI GeForce RTX 4060 Gaming X NV Edition 8GB GDDR6 DLSS3
                            </span>
                            <div class="card__add-to-cart">
                                <span class="card__price">359,90€</span>
                                <button class="add-to-cart-btn">+ Añadir
                                    <span class="cart-item"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <button id="next-slide-1" class="slide-button slide-button-1 material-symbols-rounded">chevron_right</button>
            </div>

            <div class="slider-scrollbar slider-scrollbar-1">
                <div class="scrollbar-track scrollbar-track-1">
                    <div class="scrollbar-thumb scrollbar-thumb-1"></div>
                </div>
            </div>

        </div>
        <!-- #endregion -->

        <!-- #region Scroller -->
        <div class="scroller" data-direction="right" data-speed="fast">
            <div class="scroller__inner">
                <img src="/assets/images/brands/brand1.svg" class="brand" alt="Logo_Windows" />
                <img src="/assets/images/brands/brand2.svg" class="brand" alt="Logo_HP" />
                <img src="/assets/images/brands/brand3.svg" class="brand" alt="Logo_Samsungs" />
                <img src="/assets/images/brands/brand4.svg" class="brand" alt="Logo_Apple" />
                <img src="/assets/images/brands/brand5.svg" class="brand" alt="Logo_Intel" />
                <img src="/assets/images/brands/brand6.png" class="brand" alt="Logo_Chromebook" />
                <img src="/assets/images/brands/brand7.svg" class="brand" alt="Logo_Logitech" />
                <img src="/assets/images/brands/brand8.svg" class="brand" alt="Logo_ASUS" />
                <img src="/assets/images/brands/brand9.png" class="brand" alt="Logo_Corsair" />
            </div>
        </div>
        <!-- #endregion -->

        <!-- #region Carousel-2 -->
        <div class="carousel carousel-2">
            <div class="wrapper wrapper-2">
                <h2 class="title-carousel"><a href="./ordenadores/ordenadores.html">Ordenadores</a></h2>
                <button id="prev-slide-2" class="slide-button slide-button-2 material-symbols-rounded">chevron_left</button>
                
                <div class="itemlist itemlist-2">
                    <div class="card" tabindex="0">
                        <img src="/assets/images/ordenadores/ordenador1.png" class="item" alt="Ordenador-1">
                        <div class="card__text">
                            <span title="HP 15S-eq2167ns AMD Ryzen 5 5500U/16GB/512GB SSD/15.6" class="card__title">
                                HP 15S-eq2167ns AMD Ryzen 5 5500U/16GB/512GB SSD/15.6"
                            </span>
                            <div class="card__add-to-cart">
                                <span class="card__price">469€</span>
                                <button class="add-to-cart-btn">+ Añadir
                                    <span class="cart-item"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card" tabindex="0">
                        <img src="/assets/images/ordenadores/ordenador2.png" class="item" alt="Ordenador-2">
                        <div class="card__text">
                            <span title="HP Victus 15-fa0053ns Intel Core i5-12450H/16GB/512GB SSD/RTX 3050/15.6" class="card__title">
                                HP Victus 15-fa0053ns Intel Core i5-12450H/16GB/512GB SSD/RTX 3050/15.6"
                            </span>
                            <div class="card__add-to-cart">
                                <span class="card__price">679€</span>
                                <button class="add-to-cart-btn">+ Añadir
                                    <span class="cart-item"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card" tabindex="0">
                        <img src="/assets/images/ordenadores/ordenador3.png" class="item" alt="Ordenador-3">
                        <div class="card__text">
                            <span
                                title="Acer Nitro V 15 ANV15-51-51PQ Intel Core i5-13420H/16GB/1TB SSD/RTX 3050/15.6" class="card__title">
                                Acer Nitro V 15 ANV15-51-51PQ Intel Core i5-13420H/16GB/1TB SSD/RTX 3050/15.6"
                            </span>
                            <div class="card__add-to-cart">
                                <span class="card__price">729€</span>
                                <button class="add-to-cart-btn">+ Añadir
                                    <span class="cart-item"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card" tabindex="0">
                        <img src="/assets/images/ordenadores/ordenador4.png" class="item" alt="Ordenador-4">
                        <div class="card__text">
                            <span title="MSI Pulse 17 B13VFK-687XES Intel Core i7-13700H/32GB/1TB SSD/RTX 4060/17.3" class="card__title">
                                MSI Pulse 17 B13VFK-687XES Intel Core i7-13700H/32GB/1TB SSD/RTX 4060/17.3"
                            </span>
                            <div class="card__add-to-cart">
                                <span class="card__price">1399€</span>
                                <button class="add-to-cart-btn">+ Añadir
                                    <span class="cart-item"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card" tabindex="0">
                        <img src="/assets/images/ordenadores/ordenador5.png" class="item" alt="Ordenador-5">
                        <div class="card__text">
                            <span
                                title="ASUS Vivobook Go E1504FA-NJ642W AMD Ryzen 5 7520U/8GB/512GB SSD/Radeon 610M/15.6" class="card__title">
                                ASUS Vivobook Go E1504FA-NJ642W AMD Ryzen 5 7520U/8GB/512GB SSD/Radeon 610M/15.6"
                            </span>
                            <div class="card__add-to-cart">
                                <span class="card__price">429€</span>
                                <button class="add-to-cart-btn">+ Añadir
                                    <span class="cart-item"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card" tabindex="0">
                        <img src="/assets/images/ordenadores/ordenador6.png" class="item" alt="Ordenador-6">
                        <div class="card__text">
                            <span title="MSI MAG Infinite S3 13NUE-688EU i7-13700F/16GB/1TB SSD/RTX 4070" class="card__title">
                                MSI MAG Infinite S3 13NUE-688EU i7-13700F/16GB/1TB SSD/RTX 4070
                            </span>
                            <div class="card__add-to-cart">
                                <span class="card__price">1699€</span>
                                <button class="add-to-cart-btn">+ Añadir
                                    <span class="cart-item"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card" tabindex="0">
                        <img src="/assets/images/ordenadores/ordenador7.png" class="item" alt="Ordenador-7">
                        <div class="card__text">
                            <span title="HP Slim Desktop S01-pF2027ns Intel Core i5-12400/8GB/256GB SSD" class="card__title">
                                HP Slim Desktop S01-pF2027ns Intel Core i5-12400/8GB/256GB SSD
                            </span>
                            <div class="card__add-to-cart">
                                <span class="card__price">439€</span>
                                <button class="add-to-cart-btn">+ Añadir
                                    <span class="cart-item"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card" tabindex="0">
                        <img src="/assets/images/ordenadores/ordenador8.png" class="item" alt="Ordenador-8">
                        <div class="card__text">
                            <span title="ASUS U500MA-75700G0090 AMD Ryzen 7 5700G/16GB/512GB SSD" class="card__title">
                                ASUSU500MA-75700G0090 AMD Ryzen 7 5700G/16GB/512GB SSD
                            </span>
                            <div class="card__add-to-cart">
                                <span class="card__price">549€</span>
                                <button class="add-to-cart-btn">+ Añadir
                                    <span class="cart-item"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card" tabindex="0">
                        <img src="/assets/images/ordenadores/ordenador9.png" class="item" alt="Ordenador-9">
                        <div class="card__text">
                            <span
                                title="Medion Erazer Engineer P10 MD35338 Intel Core i5-12400F/16GB/512GB SSD/RTX 3060" class="card__title">
                                Medion Erazer Engineer P10 MD35338 Intel Core i5-12400F/16GB/512GB SSD/RTX 3060
                            </span>
                            <div class="card__add-to-cart">
                                <span class="card__price">839€</span>
                                <button class="add-to-cart-btn">+ Añadir
                                    <span class="cart-item"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card" tabindex="0">
                        <img src="/assets/images/ordenadores/ordenador10.png" class="item" alt="Ordenador-10">
                        <div class="card__text">
                            <span title="MSI MAG Infinite S3 13NUC5-1212XES i7-13700F/16GB/1TB SSD/RTX 4060" class="card__title">
                                MSI MAG Infinite S3 13NUC5-1212XES i7-13700F/16GB/1TB SSD/RTX 4060
                            </span>
                            <div class="card__add-to-cart">
                                <span class="card__price">1199€</span>
                                <button class="add-to-cart-btn">+ Añadir
                                    <span class="cart-item"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <button id="next-slide-2" class="slide-button slide-button-2 material-symbols-rounded">chevron_right</button>
            </div>

            <div class="slider-scrollbar slider-scrollbar-2">
                <div class="scrollbar-track scrollbar-track-2">
                    <div class="scrollbar-thumb scrollbar-thumb-2"></div>
                </div>
            </div>

        </div>
        <!-- #endregion -->
    </section>
</main>