/* #region Hero  */
.hero-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 100%;
    padding: 0 10%;

    background-color: var(--clr-dark);
}

.hero__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 5% 0;
}

.hero__wrapper__text {
    width: 100%;
}

.text__main,
.text__secondary {
    color: var(--clr-light);
}

.text__main {
    font-size: 2.5rem;
}

.text__secondary {
    font-size: 1.125rem;
}

.hero__wrapper__img {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;

    width: 100%;
    height: 100%;
}

.hero-img {
    cursor: pointer;

    max-width: 90%;
    max-height: 100%;

    border: var(--brd-trans);
    border-radius: var(--brad-std);
}

.btn-signup {
    width: 150px;
    height: 50px;
    margin-top: 1rem;

    font-size: 1.125rem;
    color:var(--clr-light);

    background-color: transparent; 
    border: var(--brd-trans);
    border-radius: var(--brad-std);
}

.btn-signup:hover {
    cursor: pointer;
    color: var(--clr-primary);
    border: none;
    box-shadow: var(--bsh-primary);
}

.btn-signup:focus-within {
    color: var(--clr-primary);
    border: none;
    border: 2px solid var(--clr-primary);
}
/* #endregion */

main {
    padding-top: 4rem;
}

/* #region Carousels */
.carousel-container {
    background-color: var(--clr-light);
}

.carousel {
	width: 100%;
    padding: 0 10% 2rem 9%;
    background-color: var(--clr-slate);
}

.title-carousel {
    padding: 1rem;
    font-size: 2rem;
}

.title-carousel a {
    color: var(--clr-dark);
}

.title-carousel a:visited {
    color: var(--clr-dark);
}

.wrapper {
	position: relative;
}

.slide-button {
	cursor: pointer;

	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	display: flex;
	align-items: center;
	justify-content: center;

	width: 50px;
	height: 50px;

	font-size: 2rem;
	color: var(--clr-light);

	background: var(--clr-primary);
	border: none;
	border-radius: 50%;
	outline: none;
}

.slide-button:hover {
    background: var(--clr-secondary);
}

#prev-slide-1,
#prev-slide-2 {
	left: -25px;
	display: flex;
}

#next-slide-1,
#next-slide-2 {
	right: -25px;
    display: flex;
}

.itemlist {
    display: flex;
	scrollbar-width: none;

	overflow-x: auto;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	gap: 1rem;

	margin-bottom: 2rem;
    padding: 1rem;
}

.itemlist::-webkit-scrollbar {
	display: none;
}

.item {
	width: 200px;
	height: 200px;
	object-fit: cover;
}
/* #endregion */

/* #region Brand Scroller */
.scroller {
    width: 100%;
}

.scroller__inner {
    display: flex;
    flex-wrap: nowrap;
    gap: 8rem;
    align-items: center;

    height: 160px;
    padding-block: 1rem;

    background-color: var(--clr-light);
}

.scroller__inner .brand {
    height: 80px;
    width: auto;
}

.scroller[data-animated="true"] {
    overflow: hidden;
    mask: linear-gradient(90deg);
}

.scroller[data-animated="true"] .scroller__inner {
    flex-wrap: nowrap;
    width: max-content;
    animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 60s;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 4rem));
    }
}
/* #endregion */

/* #region Products */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 400px;
	padding: 1rem;

    font-size: 1.125rem;
    color: var(--clr-dark);

    background-color: var(--clr-light);
    border: var(--brd-trans-half);
    border-radius: var(--brad-std);
}

.card:hover,
.card:focus {
    cursor: pointer;
    border: 1px solid transparent;
    outline: none;
}

.card:hover {
    box-shadow: var(--bsh-primary);  
}

.card:focus {
    box-shadow: var(--bsh-secondary);   
}

.card__title {
    overflow: hidden;
    display: -webkit-box;
    
    text-overflow: ellipsis;
    
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.card__text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.card__price {
    font-weight: 700;
}

.card__add-to-cart {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.add-to-cart-btn {
    cursor: pointer;

    position: relative;

    display: flex;

    width: fit-content;
    padding: 0.5rem;

    font-size: 1.125rem;
    font-weight: 700;
    color: var(--clr-dark);

    opacity: 0;
    background: var(--clr-slate-dark);
    border: var(--brd-trans-half);
    border-radius: var(--brad-std);
}

.cart-item {
    position:absolute;
    /* z-index: 1; */
    top: -10px;
    right: -10px;

    width:24px;
    height:24px;
}

.add-to-cart-btn:hover .cart-item:before {
    content:'1';

    display:block;

    width:24px;
    height:24px;

    font-size:1rem;
    font-weight:600;
    line-height:24px;
    color: var(--clr-dark);
    text-align:center;

    background:var(--clr-primary);
    border-radius:1rem;
}

.add-to-cart-btn.sendtocart .cart-item {
    display: block;
    animation: yAxis 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.add-to-cart-btn.sendtocart .cart-item:before {
    animation: xAxis 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card:hover .add-to-cart-btn {
    opacity: 1;
}

.card:hover .add-to-cart-btn:hover,
.card:hover .add-to-cart-btn:focus {
    border: 1px solid transparent;
    outline: none;
}
.card:hover .add-to-cart-btn:hover {
    box-shadow: var(--bsh-primary);
}

.card:hover .add-to-cart-btn:focus {
    box-shadow: var(--bsh-secondary );
}
/* #endregion */

/* #region Media Queries */
@media (min-width: 1900px) {
    .hero__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        max-width: 100%;
        max-height: 600px; /* antes 430 cambio angular */
    }
    
    .hero__wrapper__text {
        width: 760px;
        max-height: 430px;
    }
    
    .hero__wrapper__img {
        overflow: hidden;
        display: flex;
        justify-content: flex-end;

        max-width: 676px;
        max-height: 273px;
    }

    .hero-img {
        max-width: 676px;
        max-height: 273px;
    }
}

@media (max-width: 1380px) {
    .hero__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        height: 100%;
    }
    
    .hero__wrapper__text {
        width: 60%;
        height: 100%;
    }
    
    .hero__wrapper__img {
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
    }
    
    .text__main {
        font-size: 2rem;
        font-weight: 800;
        color: var(--clr-light);
    }
}

@media (max-width: 1280px) {
    .hero-container {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        height: 100%;

        background-color: var(--clr-dark);
    }
    
    .hero__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        height: 100%;
    }
    
    .hero__wrapper__text {
        width: 60%;
        height: 100%;
    }
    
    .hero__wrapper__img {
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    
    .text__main {
        font-size: 1.5rem;
        font-weight: 800;
        color: var(--clr-light);
    }
}

@media (max-width: 1010px) {
    .hero-container {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        height: 100%;
        padding: 0 10%;

        background-color: var(--clr-dark);
    }

    .hero__wrapper {
        display: flex;
        flex-direction: column;
        align-items:center;

        width: 100%;
        padding: 5% 0;
    }

    .hero__wrapper__text {
        width: 100%;
        padding-bottom: 5%;
    }

    .hero__wrapper__img {
        display: flex;
        justify-content: center;
    }

    .text__main {
        font-size: 2rem;
    }

    .text__main,
    .text__secondary {
        text-align: center;
    }

    .hero__wrapper__form {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    .hero-img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        border: 2px solid var(--clr-light);
    }

    .card .add-to-cart-btn {
        opacity: 1;
    }

    .toggle-container {
        right: 0px;
    }
}

/* #region 768hamburguer */
@media (max-width: 768px) {
    .nav {
        position: fixed; 

        display: flex;
        align-items: center;
        justify-content: center;

        max-width: 768px;
    }

    .nav__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav__hamburger {
        display: block;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
    }

    .nav__list {
        position: absolute;
        top: 64px;

        display: none;
        flex-direction: column;
        gap: 0;

        width: 100%;

        text-align: center;

        background: var(--clr-dark-trans);
    }

    .nav__list.active {
        display: flex;
        gap: 3rem;
        align-items: center;
        justify-content: flex-start;

        height: 100vh; 
        padding-top: 10%;
    }

    .nav__list.active .nav__list__anchors {
        font-size: 2rem;
    }

    .nav__list li {
        width: fit-content;
    }

    .nav__list li.active::after {
        width: 0;
    }
    
    .nav__list li.active .nav__list__anchors {
        padding: 1rem;
        background-color: var(--clr-dark);
        border: var(--brd-slate);
        border-radius: 2rem;
    }

    .nav__list li:hover::after {
        width: 0%;
    }

    .nav__list__anchors.cesta:before {
        content: attr(data-totalitems);
        top: -12px;
        right: -12px;
    }

    @keyframes xAxis {
        100% {
            transform: translateX(calc(40px));
            opacity: 0.75;
        }
    }

    .footer {
        display: none;
    }

    .toggle-container.active {
		position: fixed;
        z-index: 2;
        opacity: 0.5;
    }

    .socials__list {
        position: fixed;
        z-index: 2;
        bottom: 10vh;

        gap: 3rem;

        width: 100%;
    }

    .socials__list .fa-brands {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 60px;
        height: 60px;
        padding: 2rem;

        font-size: 3rem;

        background-color: var(--clr-dark);
        border-radius: 50%;
    }

    .socials__list.active {
        display: flex;
        justify-content: center;
    }
}
/* #endregion */

@media (max-width: 640px) {
    .nav,
    main,
    .footer {
        max-width: 640px;
    }  
}

@media (max-width: 475px) {
    .nav,
    main,
    .footer {
        max-width: 100%;
    } 
}
/* #endregion */