<main class="main">
	<section class="carousel-container">
		<div class="carousel carousel">
			<div class="wrapper">

				<div class="searchbar-container">
					<h2 class="title-carousel">Ordenadores</h2>
					<div class="searchbar">
						<input type="search" class="search-input" placeholder="Buscar" [(ngModel)]="textoBusqueda"
							(input)="filtrarProductos()" />
						<i class="fas fa-search search-icon"></i>
					</div>
				</div>

				<div class="filters-container">

					<div class="filter">
						<label class="label-filter" for="marca">Marca: </label>
						<select class="search-select" id="marca" [(ngModel)]="marcaSeleccionada"
							(change)="filtrarProductos()">
							<option value="">Todas</option>
							<option *ngFor="let marca of marcas" [value]="marca">{{ marca }}</option>
						</select>
					</div>

					<div class="filter">
						<label class="label-filter" for="precioMin">Precio mínimo: </label>
						<input class="search-filter" id="precioMin" type="number" [(ngModel)]="precioMin"
							(input)="filtrarProductos()" placeholder="Mínimo" />
					</div>

					<div class="filter">
						<label class="label-filter" for="precioMax">Precio máximo: </label>
						<input class="search-filter" id="precioMax" type="number" [(ngModel)]="precioMax"
							(input)="filtrarProductos()" placeholder="Máximo" />
					</div>

				</div>

				<div class="itemlist">
					<div *ngIf="productosFiltrados.length === 0">Cargando productos...</div>

					<div *ngFor="let producto of productosFiltrados" class="card">
						<img [src]="'/assets/images/ordenadores/' + producto.imagen_url" alt="{{ producto.nombre }}"
							class="item" [routerLink]="['/producto', producto.id]" />

						<div class="card__text">
							<span title="{{ producto.nombre }}" class="card__title">{{ producto.nombre }}</span>
							<div class="card__add-to-cart">
								<span class="card__price">${{ producto.precio }}</span>
								<button (click)="addToCart(producto.id)" class="add-to-cart-btn">
									+ Añadir
									<span class="cart-item"></span>
								</button>
							</div>
						</div>
						<div *ngIf="isAdmin" class="admin-actions">
							<i (click)="editProduct(producto)" class="admin-btn" class="fas fa-edit"></i>
							<br>
							<i (click)="deleteProduct(producto.id)" class="admin-btn" class="fas fa-remove"></i>
						</div>
					</div>
					<button *ngIf="isAdmin" (click)="addProduct()" class="admin-btn add-btn">Añadir</button>
				</div>
			</div>
		</div>
	</section>
</main>