<!-- <div class="cart">
	<h2>Tu Carrito</h2>
	<div *ngIf="cartItems.length === 0">El carrito está vacío.</div>
	<div *ngFor="let item of cartItems">
		<p>{{ item.product.name }} - {{ item.quantity }}</p>
		<button (click)="updateQuantity(item.id, item.quantity + 1)">+</button>
		<button (click)="updateQuantity(item.id, item.quantity - 1)">-</button>
		<button (click)="removeItem(item.id)">Eliminar</button>
	</div>
	<button (click)="clearCart()">Vaciar Carrito</button>
</div> -->

<!-- <div class="cart">
    <h2>Tu Carrito</h2>
    <div *ngIf="cartItems.length === 0">El carrito está vacío.</div>
    <div *ngFor="let item of cartItems">
        <div class="cart-item">
            <img [src]="item.product.imagen_url" alt="{{ item.product.name }}" class="product-image" />
            <div class="product-details">
                <p><strong>{{ item.product.name }}</strong></p>
                <p>{{ item.product.descripcion }}</p>
                <p><strong>Precio:</strong> {{ item.product.precio | currency }}</p>
                <p><strong>Cantidad:</strong> {{ item.quantity }}</p>
            </div>
            <div class="cart-actions">
                <button (click)="updateQuantity(item.id, item.quantity + 1)">+</button>
                <button (click)="updateQuantity(item.id, item.quantity - 1)" [disabled]="item.quantity <= 1">-</button>
                <button (click)="removeItem(item.id)">Eliminar</button>
            </div>
        </div>
    </div>
    <button (click)="clearCart()">Vaciar Carrito</button>
</div> -->

<!-- <div class="cart">
    <h2>Tu Carrito</h2>
    <div *ngIf="cartItems.length === 0" class="empty-cart">El carrito está vacío.</div>
    <div *ngFor="let item of cartItems" class="card">
        <img [src]="item.product.imagen_url" alt="{{ item.product.name }}" class="card-image" />
        <div class="card-content">
            <h3 class="card-title">{{ item.product.name }}</h3>
            <p class="card-description">{{ item.product.descripcion }}</p>
            <p class="card-price"><strong>Precio:</strong> {{ item.product.precio | currency }}</p>
            <p class="card-quantity"><strong>Cantidad:</strong> {{ item.quantity }}</p>
        </div>
        <div class="card-actions">
            <button (click)="updateQuantity(item.id, item.quantity + 1)">+</button>
            <button (click)="updateQuantity(item.id, item.quantity - 1)" [disabled]="item.quantity <= 1">-</button>
            <button (click)="removeItem(item.id)">Eliminar</button>
        </div>
    </div>
    <button class="clear-cart" (click)="clearCart()">Vaciar Carrito</button>
</div> -->

<main class="main">
	<div class="carousel">
		<div class="cart">
			<h2>Tu Carrito</h2>

			<div class="itemlist">
				<div *ngIf="cartItems.length === 0" class="empty-cart">El carrito está vacío.</div>


				<div *ngFor="let item of cartItems" class="card">
					<img [src]="item.product.tipo === 'componente' ? '/assets/images/componentes/' + item.product.imagen_url : '/assets/images/ordenadores/' + item.product.imagen_url"
						alt="{{ item.product.nombre }}" class="item" />

					<div class="card__text">
						<span title="{{ item.product.nombre }}" class="card__title">{{ item.product.nombre }}</span>
						<p class="card-price"><strong>Precio:</strong> {{ item.product.precio | currency }}</p>
						<p class="card-quantity"><strong>Cantidad:</strong> {{ item.quantity }}</p>

						<p class="card-price"><strong>Total:</strong> ${{ item.product.precio * item.quantity }}</p>

					</div>
					<div class="card-actions">
						<i (click)="updateQuantity(item.id, item.quantity + 1)" class="fa fa-plus" aria-hidden="true"></i>
						<i (click)="updateQuantity(item.id, item.quantity - 1)" class="fa fa-minus" aria-hidden="true"></i>
						<div class="remove-item">
							<i (click)="removeItem(item.id)" class="fa fa-trash-o" aria-hidden="true"></i>
						</div>
						<!-- <button (click)="updateQuantity(item.id, item.quantity + 1)"><i class="fa fa-plus"
								aria-hidden="true"></i></button> -->
						<!-- <button (click)="updateQuantity(item.id, item.quantity - 1)" [disabled]="item.quantity <= 1"> <i
								class="fa fa-minus" aria-hidden="true"></i></button> -->
						<!-- <button (click)="removeItem(item.id)">Eliminar</button> -->
					</div>
				</div>

			</div>
		</div>
		<div class="cart-total">
			<h3 *ngIf="cartItems.length != 0">Precio Total: {{ getTotalPrice() | currency }}</h3>
		</div>
		<button class="btn clear-cart" (click)="clearCart()" *ngIf="cartItems.length > 0">Vaciar Carrito</button>
		<button class="btn checkout-btn" (click)="checkout()" *ngIf="cartItems.length > 0">Realizar Compra</button>
	</div>
</main>