<main class="main">
	<div class="container-forms">

		<section class="section-logo">
			<div class="logo-container-1">
				<div class="inner-logo-container">
					<div class="small-image-container">
						<img class="small-image small-image-camion" src="assets/images/logos/camion.png" alt="Camion" />
					</div>
					<div class="text-container">
						<h3 class="container-title">Gestiona tus pedidos</h3>
						<span>Controla todos tus pedidos y recibe notificaciones con el seguimiento</span>
					</div>
				</div>
				<div class="inner-logo-container">
					<div class="small-image-container">
						<img class="small-image small-image-medalla" src="assets/images/logos/medalla.png"
							alt="Medalla" />
					</div>
					<div class="text-container">
						<h3 class="container-title">Lista de deseos personalizada</h3>
						<span class="container-title">Guarda tus productos favoritos en las listas de deseos
							personalizadas</span>
					</div>
				</div>
			</div>
			<div class="logo-container-2">
				<div class="big-image-container">
					<a class="anchor-big" href="../index.html">
						<img class="big-image" src="assets/images/logos/penpenlogo.png" alt="Logo Inicio" />
					</a>
				</div>
			</div>
		</section>

		<div class="greyline"></div>

		<!-- Login Form -->
		<section class="section-login" *ngIf="loginFormVisible">
			<form (ngSubmit)="onLogin()">
				<h2 class="section-title">Iniciar Sesión</h2>
				<div class="social-container">
					<a href="https://accounts.google.com/ServiceLogin?ltmpl=mobNH" class="social">
						<i class="fa-brands fa-google-plus-g"></i>
					</a>
					<a href="https://www.qq.com/" class="social">
						<i class="fa-brands fa-qq"></i>
					</a>
					<a href="https://appleid.apple.com/sign-in" class="social">
						<i class="fa-brands fa-apple"></i>
					</a>
				</div>
				<div class="span-container">
					<hr class="hr-line" />
					<span class="span-login">O bien</span>
					<hr class="hr-line" />
				</div>
				<div *ngIf="errorMessage" class="error-message">
					{{ errorMessage }}
				</div>

				<p *ngIf="!isEmailValid() && emailInput.touched" class="error-message">
					Por favor, introduce un correo válido.
				</p>

				<div class="container email-container">
					<input id="input-email" type="email" placeholder="Email*" [(ngModel)]="email" name="email"
						required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" #emailInput="ngModel"/>
					<label for="user">Email*</label>
				</div>
				<div class="container password-container">
					<input id="input-password" [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña*"
						[(ngModel)]="password" name="password" required />
					<label for="pass">Contraseña*</label>

					<div class="container--hide-show">
						<button class="btn--hide-show" type="button" (click)="togglePassword('showPassword')">
							<div class="inner-container--hide-show">
								<img id="image--toggle"
									[src]="showPassword ? (themeService.isDarkModeEnabled() ? 'assets/images/passimg/hide3.png' : 'assets/images/passimg/hide2.png') : (themeService.isDarkModeEnabled() ? 'assets/images/passimg/show3.png' : 'assets/images/passimg/show2.png')"
									alt="Toggle Password Visibility" />
							</div>
						</button>
					</div>
				</div>
				<p class="forget"><a href="javascript:void(0)" (click)="goToForgotPassword()">He olvidado mi contraseña</a></p>
				<button class="btn btn-login" type="submit">Iniciar sesión</button>
				<div class="span-container">
					<hr class="hr-line" />
					<span class="span-login">¿Eres nuevo cliente?</span>
					<hr class="hr-line" />
				</div>
				<button class="btn btn-signup" type="button" (click)="toggleForms(false)">Crear cuenta</button>
			</form>
		</section>

		<!-- Signup Form -->
		<section class="section-signup" *ngIf="!loginFormVisible">
			<form (ngSubmit)="onSignup()">
				<h2 class="section-title">Crear cuenta</h2>
				<div class="container nombre-container">
					<input id="input-name" type="text" placeholder="Nombre*" [(ngModel)]="name" name="name" required />
					<label for="username">Nombre*</label>
				</div>
				<div class="container email-container">
					<input id="input-email2" type="email" placeholder="Email*" [(ngModel)]="email" name="email"
						required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" #emailInput="ngModel"/>
					<label for="user">Email*</label>
				</div>
				<div class="container password-container">
					<input id="input-password2" [type]="showPassword2 ? 'text' : 'password'" placeholder="Contraseña*"
						[(ngModel)]="password" name="password" required />
					<label for="pass">Contraseña*</label>

					<div class="container--hide-show">
						<button class="btn--hide-show" type="button" (click)="togglePassword('showPassword2')">
							<div class="inner-container--hide-show">
								<img id="image--toggle"
									[src]="showPassword2 ? (themeService.isDarkModeEnabled() ? 'assets/images/passimg/hide3.png' : 'assets/images/passimg/hide2.png') : (themeService.isDarkModeEnabled() ? 'assets/images/passimg/show3.png' : 'assets/images/passimg/show2.png')"
									alt="Toggle Password Visibility" />
							</div>
						</button>
					</div>

					<div class="container password-container">
						<input id="input-password3" [type]="showPassword3 ? 'text' : 'password'"
							placeholder="Repetir contraseña*" [(ngModel)]="passwordTwo" name="passwordTwo" required />

						<label for="input-password3">Repetir Contraseña*</label>

						<div class="container--hide-show">
							<button class="btn--hide-show" type="button" (click)="togglePassword('showPassword3')">
								<div class="inner-container--hide-show">
									<img id="image--toggle"
										[src]="showPassword3 ? (themeService.isDarkModeEnabled() ? 'assets/images/passimg/hide3.png' : 'assets/images/passimg/hide2.png') : (themeService.isDarkModeEnabled() ? 'assets/images/passimg/show3.png' : 'assets/images/passimg/show2.png')"
										alt="Toggle Password Visibility" />
								</div>
							</button>
						</div>

						<!-- Mensaje de error si las contraseñas no coinciden -->
						<p *ngIf="passwordMismatch" class="error-message">Las contraseñas no coinciden.</p>
						<!-- <p *ngIf="!isEmailValid() && emailInput.touched" class="error-message"> -->
						<p *ngIf="emailInput.invalid && emailInput.touched" class="error-message">
							Por favor, introduce un correo válido.
						</p>
					</div>
				</div>

				<button class="btn btn-signup" type="submit">Crear Cuenta</button>
				<div class="span-container">
					<hr class="hr-line" />
					<span class="span-login">Ya tengo una cuenta</span>
					<hr class="hr-line" />
				</div>
				<button class="btn btn-login" type="button" (click)="toggleForms(true)">Iniciar Sesión</button>
			</form>
		</section>
	</div>
</main>