.main {
	min-height: 100vh;
	background-color: var(--clr-light3);
}

.container-forms {
	display: flex;
	flex-direction: row;
	/* align-items: center; */
	justify-content: center;
}

section {	
	display: flex;
	flex-direction: column;

	width: 32.5rem;
	height: 48.2rem;
	margin-top: 4rem;
	padding: 2.5rem;
}

.section-logo {
	height: 52.7rem;
}

/* .section-signup {
	display: none;
} */

/* #region Seccion logo */
.logo-container-1 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom: 1rem;
}

.logo-container-2 {
	display: flex;
	flex: 1;
	justify-content: center;
}

.container-title {
	font-size: 1.25rem;
	color: var(--clr-dark);
}

.inner-logo-container {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
}

.text-container {
	font-size: 1.125rem;
}

.small-image-container {
	width: 64px;
	height: 64px;
	margin-right: 1rem;
}

.small-image {
	width: 64px;
	height: 64px;
	object-fit: contain;
}

.big-image {
	cursor: pointer;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.greyline {
	margin-top: 96px;
	border-left: var(--brd-trans-half);
}
/* #endregion */

/* #region Seccion formulario */
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; 

	width: 100%;

	text-align: center;

	background-color: var(--light3);
}

.section-title {
	margin: 1rem;
	font-size: 2rem;
	color: var(--clr-dark);
}

.social-container {
	display: flex;
	gap: 3rem;
	height: 40px;
	margin: 0.5rem 0;
}

.social {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 40px;

	font-size: 1.5rem;
	color: var(--clr-dark);

	border: var(--brd-trans-half2);
	border-radius: 50%;
}

.social:hover,
.social:focus {
	border: none;
	outline: none;
	box-shadow: var(--bsh-secondary);
}

.span-container {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;

	color: var(--clr-dark);
}

.hr-line {
	flex-grow: 1;
	border: none;
	border-top: var(--brd-trans-half);
}

.span-login {
	padding: 1.5rem 1rem;
	font-size: 1rem;
	font-weight: 600;
}

input {
	width: 100%;
	padding: 12px 15px;

	font-size: 1.125rem;

	background-color: var(--clr-slate);
	border-radius: var(--brad-std);

	transition: border 0.3s ease 0s, background-color 0.3s ease 0s, color 0.3s ease 0s, box-shadow 0.3s ease 0s;
}

#input-email {
	margin-bottom: 0.25rem;
}

#input-name:hover,
#input-email:hover,
#input-email2:hover,
#input-password:hover,
#input-password2:hover,
#input-password3:hover {
	border: 1px solid var(--clr-primary);
}

#input-name:focus,
#input-email:focus,
#input-email2:focus,
#input-password:focus,
#input-password2:focus,
#input-password3:focus,
button:focus {
	border: none;
	outline: none;
	box-shadow: var(--bsh-secondary);
}

.btn-login:focus {
	box-shadow: var(--bsh-secondary);
}

#input-name,
#input-email,
#input-email2,
#input-password,
#input-password2,
#input-password3 {
	display: flex;
	align-items: center;

	height: 3rem;
	padding: 0 3rem 0 1rem;

	line-height: 1.25rem;
	color: var(--clr-dark);

	border: var(--brd-trans-half);
}

#input-password2,
#input-password3 {
	margin-bottom: 2rem;
}

/* #input-password3 {
	cursor: not-allowed;
} */

label {
	pointer-events: none;;

	position: absolute;
	z-index: 1;
	top: 1.9rem;
	left: 0.95rem;
	transform-origin: left top 0px;

	display: flex;
	align-items: center;

	font-weight: 600;
	color: transparent;

	opacity: 0;

	transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s, font-size 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s, line-height 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s, font-weight 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

input:focus + label,
input:not(:placeholder-shown) + label {
	pointer-events: auto;
	transform: translateY(-200%);
	color: var(--clr-dark);
	opacity: 1;
}

.container {
	position: relative;
	width: 100%;
	margin: 0.8rem 0;
	padding-top: 0.5rem;
}

.container--hide-show {
	position: absolute;
	top: 14px;	
	right: 7px;

	width: 2.25rem;
	height: 2.25rem;

	border: none;
	border-radius: var(--brad-std);
}

.btn--hide-show {
	cursor: pointer;

	position: relative;

	display: inline-flex;

	max-height: 48px;
	padding: 0.5rem 0.5rem;

	background: transparent;
	border: 1px solid transparent;
	border-radius: var(--brad-std);
}

.btn--hide-show:hover {
	background: var(--clr-slate-dark2);
	border: 1px solid var(--clr-primary);
}

.btn--hide-show:focus {
	border: 1px solid transparent;
	box-shadow: var(--bsh-secondary);
}

.inner-container--hide-show {
	max-width: 20px;
	max-height: 20px;
}

#image--toggle,
#image--show,
#image--show2,
#image--show3,
#image--hide,
#image--hide2,
#image--hide3 {
	align-self: center;
	width: 20px;
	height: 20px;
}

#image--show,
#image--show2,
#image--show3 {
	display: inline-flex;
}

#image--hide,
#image--hide2,
#image--hide3 {
	display: none;
}

.forget {
	margin-bottom: 1rem;
	padding: 1rem;

	font-size: 1rem;
	font-weight: 600;
	text-decoration: underline var(--clr-dark);
}

.forget a {
	color: var(--clr-dark);
}

.btn {
	cursor: pointer;

	width: 100%;
	height: 48px;

	font-size: 1.125rem;
	font-weight: 500;

	border: var(--brd-trans-half);
	border-radius: var(--brad-std);

	transition: background 0.3s ease 0s, box-shadow 0.3s ease 0s, border-color 0.3s ease 0s;
}

.btn:hover {
	border: 1px solid transparent;
}

.btn:focus {
	box-shadow: var(--bsh-secondary);
}

.btn-login {
	color: var(--clr-light);
	background-color: var(--clr-primary);
}

.btn-login:hover {
	background-color: var(--clr-secondary); 
}

.btn-signup {
	color: var(--clr-dark);
	background-color: var(--clr-slate);
}

.btn-signup:hover {
	background-color: var(--clr-slate-dark2);
}
/* #endregion */

/* #region Media Queries */
@media (max-width: 1306px) {
	section {
        max-width: 25rem;
    }  
}

@media (max-width: 1006px) {
	section {
        max-width: 20rem;
    }  

	.toggle-container {
        right: 4px;
    }
}

/* #region 768hamburguer */
@media (max-width: 768px) {
    .nav {
        position: fixed; 

        display: flex;
        align-items: center;
        justify-content: center;

        max-width: 768px;
    }

    .nav__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav__hamburger {
        display: block;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
    }

    .nav__list {
        position: absolute;
        top: 64px;

        display: none;
        flex-direction: column;
        gap: 0;

        width: 100%;

        text-align: center;

        background-color: var(--clr-dark-trans);
    }

    .nav__list.active {
        display: flex;
        gap: 3rem;
        justify-content: flex-start;

        height: 100vh;
        padding-top: 10%;
    }

    .nav__list.active .nav__list__anchors {
        font-size: 2rem;
    }

    .nav__list li {
        width: 100%;
    }

	.nav__list li.active::after {
        width: 0;
    }
    
    .nav__list li.active .nav__list__anchors {
        padding: 1rem;
        background-color: var(--clr-dark-trans);
        border: var(--brd-slate);
        border-radius: 2rem;
    }

    .nav__list li:hover::after {
        width: 0%;
    }

	.footer {
		display: none;
	}

	.toggle-container {
		position: fixed;
        z-index: 2;
        opacity: 0;
    }

    .toggle-container.active {
		position: fixed;
        z-index: 2;
        opacity: 0.5;
    }

    .socials__list {
        position: fixed;
        z-index: 2;
        bottom: 10vh;

        gap: 3rem;

        width: 100%;
    }

    .socials__list .fa-brands {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 60px;
        height: 60px;
        padding: 2rem;

        font-size: 3rem;
		color: var(--clr-light2);

        background-color: var(--clr-dark2);
        border-radius: 50%;
    }

	.socials__list.active {
        display: flex;
        justify-content: center;
    }
}
/* #endregion  */

@media (max-width: 700px) {
    .nav {
        position: fixed; 

        display: flex;
        align-items: center;
        justify-content: center;

        max-width: 100%;
    }

	.footer__container__copyright {
		display: none;
	}

	.section-logo {
		display: none;
	}

	section {
		max-width: 100vw;
	}

	.greyline {
		display: none;
	}

	.footer {
		display: none;
	}

	.socials__list {
		position: fixed;
		z-index: 2;
		bottom: 10vh;

		gap: 3rem;

		width: 100%;
	}

	.socials__list .fa-brands {
		font-size: 3rem;
	}

	.socials__list.active {
		display: flex;
		justify-content: center;
	}
}
/* #endregion */
