/* #region Resets and variables */
*,
*::before,
*::after {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

* {
    text-decoration: none;
    list-style: none;
    /* outline: 1px solid red; */
}

:root {
	/* Colores para facilitar el cambio a modo oscuro*/ 
	--clr-dark2: #1F2937; 
	--clr-light2: #ffffff;
	--clr-slate-dark2: #cccccc70;
	--brd-trans-half2: 1px solid #cccccc;
	--clr-sunlight: #FFDE59;
	/* --- */

    --clr-primary: hsl(193, 50%, 45%);
    --clr-secondary: hsl(213, 50%, 25%);

    --clr-dark: #1F2937;
    --clr-dark-trans: #1f2937bf;

    --clr-light: #ffffff;
    --clr-slate: #f2f2f2;
	--clr-slate-dark: #cccccc70;

    --brad-std: 0.3rem;

    --brd-dark: 2px solid #1F2937;
    --brd-slate: 2px solid #f2f2f2;

    --brd-trans: 2px solid #cccccc;
	--brd-trans-half: 1px solid #cccccc;

    --bsh-primary: 0px 0px 3px 3px var(--clr-primary);
    --bsh-secondary: 0px 0px 3px 3px var(--clr-secondary);
}
/* #endregion */

/* body {
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100vw;
    min-height: 100vh;

	font-family: 'Montserrat';

	background-color: var(--clr-light3);
} */
/* #endregion */

/* #region Navegation Menu */
.nav {
    position: fixed;
    z-index: 1;
	left: 0;

    display: flex; 
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 64px;
    padding: 0 10%;

    background: var(--clr-dark2);
}

.logo__img {
    max-height: 54px;
}

.logo__img:hover {
    filter: drop-shadow(0px 0px 8px var(--clr-primary));
    border-radius: 10%;
}

.nav__list {
    display: flex;
    gap: 1.2rem;
}

.nav__list__anchors {
	font-size: 1.125rem;
    font-weight: 600;
    color: var(--clr-light2);
    text-transform: uppercase;
}

.nav__list li {
    position: relative;
}

.nav__list li.active::after{
    content: "";

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    width: 0%;
    width: 100%;
    height: 2px;

    background: var(--clr-light2);
}

.nav__list li.inactive::after {
    content: "";

    position: absolute;
    right: 0;
    bottom: 0;

    width: 0%;
    height: 2px;

    background: var(--clr-light2);

    transition: 350ms ease-in-out;
}

.nav__list li:hover::after {
    left: 0;
    width: 100%;
}

.nav__hamburger {
    cursor: pointer;
    display: none;
    font-size: 2rem;
    color:var(--clr-light2);
}

.socials__list {
    cursor: pointer;
    display: none;
}

.toggle-container {
    position: fixed;
    z-index: 2;
    top: 16px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    border-radius: 2rem;
}
/* #endregion */

.main {
	min-height: 100vh;
	background-color: var(--clr-light3);
}

.container-forms {
	display: flex;
	flex-direction: row;
	/* align-items: center; */
	justify-content: center;
}

section {	
	display: flex;
	flex-direction: column;

	width: 32.5rem;
	height: 48.2rem;
	margin-top: 4rem;
	padding: 2.5rem;
}

.section-logo {
	height: 52.7rem;
}

/* .section-signup {
	display: none;
} */

/* #region Seccion logo */
.logo-container-1 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom: 1rem;
}

.logo-container-2 {
	display: flex;
	flex: 1;
	justify-content: center;
}

.container-title {
	font-size: 1.25rem;
	color: var(--clr-dark);
}

.inner-logo-container {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
}

.text-container {
	font-size: 1.125rem;
}

.small-image-container {
	width: 64px;
	height: 64px;
	margin-right: 1rem;
}

.small-image {
	width: 64px;
	height: 64px;
	object-fit: contain;
}

.big-image {
	cursor: pointer;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.greyline {
	margin-top: 96px;
	border-left: var(--brd-trans-half);
}
/* #endregion */

/* #region Seccion formulario */
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; 

	width: 100%;

	text-align: center;

	background-color: var(--light3);
}

.section-title {
	margin: 1rem;
	font-size: 2rem;
	color: var(--clr-dark);
}

.social-container {
	display: flex;
	gap: 3rem;
	height: 40px;
	margin: 0.5rem 0;
}

.social {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 40px;

	font-size: 1.5rem;
	color: var(--clr-dark);

	border: var(--brd-trans-half2);
	border-radius: 50%;
}

.social:hover,
.social:focus {
	border: none;
	outline: none;
	box-shadow: var(--bsh-secondary);
}

.span-container {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;

	color: var(--clr-dark);
}

.hr-line {
	flex-grow: 1;
	border: none;
	border-top: var(--brd-trans-half);
}

.span-login {
	padding: 1.5rem 1rem;
	font-size: 1rem;
	font-weight: 600;
}

input {
	width: 100%;
	padding: 12px 15px;

	font-size: 1.125rem;

	background-color: var(--clr-slate);
	border-radius: var(--brad-std);

	transition: border 0.3s ease 0s, background-color 0.3s ease 0s, color 0.3s ease 0s, box-shadow 0.3s ease 0s;
}

#input-name:hover,
#input-email:hover,
#input-email2:hover,
#input-password:hover,
#input-password2:hover,
#input-password3:hover {
	border: 1px solid var(--clr-primary);
}

#input-name:focus,
#input-email:focus,
#input-email2:focus,
#input-password:focus,
#input-password2:focus,
#input-password3:focus,
button:focus {
	border: none;
	outline: none;
	box-shadow: var(--bsh-secondary);
}

.btn-login:focus {
	box-shadow: var(--bsh-secondary);
}

#input-name,
#input-email,
#input-email2,
#input-password,
#input-password2,
#input-password3 {
	display: flex;
	align-items: center;

	height: 3rem;
	padding: 0 3rem 0 1rem;

	line-height: 1.25rem;
	color: var(--clr-dark);

	border: var(--brd-trans-half);
}

#input-password2,
#input-password3 {
	margin-bottom: 2rem;
}

#input-password3 {
	cursor: not-allowed;
}

label {
	pointer-events: none;;

	position: absolute;
	z-index: 1;
	top: 23px;
	left: 1rem;
	transform-origin: left top 0px;

	display: flex;
	align-items: center;

	font-weight: 600;
	color: transparent;

	opacity: 0;

	transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s, font-size 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s, line-height 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s, font-weight 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

input:focus + label,
input:not(:placeholder-shown) + label {
	pointer-events: auto;
	transform: translateY(-200%);
	color: var(--clr-dark);
	opacity: 1;
}

.container {
	position: relative;
	width: 100%;
	margin: 0.8rem 0;
	padding-top: 0.5rem;
}

.container--hide-show {
	position: absolute;
	top: 14px;	
	right: 7px;

	width: 2.25rem;
	height: 2.25rem;

	border: none;
	border-radius: var(--brad-std);
}

.btn--hide-show {
	cursor: pointer;

	position: relative;

	display: inline-flex;

	max-height: 48px;
	padding: 0.5rem 0.5rem;

	background: transparent;
	border: 1px solid transparent;
	border-radius: var(--brad-std);
}

.btn--hide-show:hover {
	background: var(--clr-slate-dark2);
	border: 1px solid var(--clr-primary);
}

.btn--hide-show:focus {
	border: 1px solid transparent;
	box-shadow: var(--bsh-secondary);
}

.inner-container--hide-show {
	max-width: 20px;
	max-height: 20px;
}

#image--show,
#image--show2,
#image--show3,
#image--hide,
#image--hide2,
#image--hide3 {
	align-self: center;
	width: 20px;
	height: 20px;
}

#image--show,
#image--show2,
#image--show3 {
	display: inline-flex;
}

#image--hide,
#image--hide2,
#image--hide3 {
	display: none;
}

.forget {
	margin-bottom: 1rem;
	padding: 1rem;

	font-size: 1rem;
	font-weight: 600;
	text-decoration: underline var(--clr-dark);
}

.forget a {
	color: var(--clr-dark);
}

.btn {
	cursor: pointer;

	width: 100%;
	height: 48px;

	font-size: 1.125rem;
	font-weight: 500;

	border: var(--brd-trans-half);
	border-radius: var(--brad-std);

	transition: background 0.3s ease 0s, box-shadow 0.3s ease 0s, border-color 0.3s ease 0s;
}

.btn:hover {
	border: 1px solid transparent;
}

.btn:focus {
	box-shadow: var(--bsh-secondary);
}

.btn-login {
	color: var(--clr-light);
	background-color: var(--clr-primary);
}

.btn-login:hover {
	background-color: var(--clr-secondary); 
}

.btn-signup {
	color: var(--clr-dark);
	background-color: var(--clr-slate);
}

.btn-signup:hover {
	background-color: var(--clr-slate-dark2);
}
/* #endregion */

/* #region footer */
.footer {
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 96px;

    background-color: var(--clr-dark2);
}

.footer__container__anchors a,
.footer__container__copyright {
    font-weight: 600;
    color: var(--clr-light2);
    text-transform: uppercase;
}

.footer__container__socials,
.footer__container__anchors  {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.footer .fa-brands {
	min-width: 20px;
	min-height: 20px;
    font-size: 1.5rem;
    color: var(--clr-light2);
}

.footer *:hover {
    color: var(--clr-primary);
}
/* #endregion */

/* #region Media Queries */
@media (max-width: 1306px) {
	section {
        max-width: 25rem;
    }  
}

@media (max-width: 1006px) {
	section {
        max-width: 20rem;
    }  

	.toggle-container {
        right: 4px;
    }
}

/* #region 768hamburguer */
@media (max-width: 768px) {
    .nav {
        position: fixed; 

        display: flex;
        align-items: center;
        justify-content: center;

        max-width: 768px;
    }

    .nav__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav__hamburger {
        display: block;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
    }

    .nav__list {
        position: absolute;
        top: 64px;

        display: none;
        flex-direction: column;
        gap: 0;

        width: 100%;

        text-align: center;

        background-color: var(--clr-dark-trans);
    }

    .nav__list.active {
        display: flex;
        gap: 3rem;
        justify-content: flex-start;

        height: 100vh;
        padding-top: 10%;
    }

    .nav__list.active .nav__list__anchors {
        font-size: 2rem;
    }

    .nav__list li {
        width: 100%;
    }

	.nav__list li.active::after {
        width: 0;
    }
    
    .nav__list li.active .nav__list__anchors {
        padding: 1rem;
        background-color: var(--clr-dark-trans);
        border: var(--brd-slate);
        border-radius: 2rem;
    }

    .nav__list li:hover::after {
        width: 0%;
    }

	.footer {
		display: none;
	}

	.toggle-container {
		position: fixed;
        z-index: 2;
        opacity: 0;
    }

    .toggle-container.active {
		position: fixed;
        z-index: 2;
        opacity: 0.5;
    }

    .socials__list {
        position: fixed;
        z-index: 2;
        bottom: 10vh;

        gap: 3rem;

        width: 100%;
    }

    .socials__list .fa-brands {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 60px;
        height: 60px;
        padding: 2rem;

        font-size: 3rem;
		color: var(--clr-light2);

        background-color: var(--clr-dark2);
        border-radius: 50%;
    }

	.socials__list.active {
        display: flex;
        justify-content: center;
    }
}
/* #endregion  */

@media (max-width: 700px) {
    .nav {
        position: fixed; 

        display: flex;
        align-items: center;
        justify-content: center;

        max-width: 100%;
    }

	.footer__container__copyright {
		display: none;
	}

	.section-logo {
		display: none;
	}

	section {
		max-width: 100vw;
	}

	.greyline {
		display: none;
	}

	.footer {
		display: none;
	}

	.socials__list {
		position: fixed;
		z-index: 2;
		bottom: 10vh;

		gap: 3rem;

		width: 100%;
	}

	.socials__list .fa-brands {
		font-size: 3rem;
	}

	.socials__list.active {
		display: flex;
		justify-content: center;
	}
}
/* #endregion */

/* Region Dark mode styles: */
.dark-mode {
    --clr-light: #1F2937;
    --clr-dark: #ffffff;
    --clr-slate: #1F2937;
	--clr-light3: var(--clr-dark-trans);
	--brd-trans-half2: 1px solid #1F2937;
}
/* #endregion */

/* Region dark-mode toggle */
.theme-toggle {
    cursor: pointer;

    position: relative;

    display: flex;
    align-items: center;

    width: 4rem;
    height: 2rem;

    background-color: var(--clr-light);
    border-radius: 2rem;
    box-shadow: inset 0 8px 60px rgba(0,0,0, .1),
	inset 0 8px 8px rgba(0,0,0, .1),
	inset 0 -4px 4px rgba(0,0,0, .1);
}

.switch__indicator {
    position: absolute;

    width: 2.2rem;
    height: 2.2rem;

    background-color: var(--clr-light);
    border-radius: 50%;
    box-shadow: 0 8px 40px rgba(0,0,0, .2);

    transition: transform .3s ease;
}

.switch__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.switch__icon {
    font-size: 1rem;
    color: var(--clr-sunlight);
}

/* Button Animations */
.switch__icon.animated{
    animation: spin 0.5s;
}

@keyframes spin{
    to {
    transform: rotate(360deg);
    }
}

/* Dark-mode styles  */
.dark-mode .theme-toggle {
    box-shadow: inset 0 8px 60px rgba(0,0,0, .3),
	inset 8px 0 8px rgba(0,0,0, .3),
	inset 0 -4px 4px rgba(0,0,0, .3);
}

.dark-mode .switch__indicator {
    transform: translateX(2rem);
    background-color: var(--clr-light);
    box-shadow: 0 8px 40px rgba(0,0,0, .3);
}

.dark-mode .switch__icon {
    color: var(--clr-dark);
}
/* #endregion */
