main {
    min-height: 100vh;
    padding-top: 4rem;
    background-color: var(--clr-slate);
}

/* #region Carousels */
.carousel {
	width: 100%;
    padding: 0 10% 1px 10%;
}

.searchbar-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 2rem 0;
}

.title-carousel {
    padding: 2rem 0.2rem 1rem 0;
    font-size: 2rem;
    color: var(--clr-dark);
}

.searchbar {
	display: flex;
	align-items: center;
	justify-content: start;

    width: 100%;
    height: 54px;
	padding: 1rem;

	background: var(--clr-light);
    border: var(--brd-trans-half);
	border-radius: var(--brad-std);
}

.search-icon {
    cursor: pointer;
    font-size: 2rem
}

.search-input {
    flex: 1;

	margin-right: 2rem;

	font-size: 1.5rem;
	color: var(--clr-dark);

	background: transparent;
	border: none;
	outline: none;
}

.search-input::placeholder,
.search-icon {
	color: var(--clr-dark-trans);
}

.label-filter {
    font-size: 1.5rem;
}

.search-select {
	margin-right: 2rem;
	font-size: 1rem;
    /* width: 7.5%; */
    width: auto;
    height: 2.75rem;
	padding: 0.75rem;
    margin: 0.25rem;
	background: var(--clr-light);
    border: var(--brd-trans-half);
	border-radius: var(--brad-std);
	color: var(--clr-dark);
}

.search-filter {
	margin-right: 2rem;
	font-size: 1rem;
    width: auto;
    height: 27px;
	padding: 0.75rem;
    margin: 0.25rem;
	background: var(--clr-light);
    border: var(--brd-trans-half);
	border-radius: var(--brad-std);
	color: var(--clr-dark);
}

.search-select:hover, .search-filter:hover, .searchbar:hover {
    border: 1px solid transparent;
	box-shadow: var(--bsh-primary);
}

.search-select:focus-within, .search-filter:focus-within, .searchbar:focus-within {
    border: 1px solid transparent;
    box-shadow: var(--bsh-secondary);
}

.wrapper {
	position: relative;
}

.itemlist {
    overflow: visible;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 1rem;

    margin-bottom: 2rem;
    padding: 1rem 0px;
}

.item {
	width: 200px;
	height: 200px;
}
/* #endregion */

/* #region Products */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 400px;
	padding: 1rem;

    font-size: 1.125rem;
    color: var(--clr-dark);

    background-color: var(--clr-light);
    border: var(--brd-trans-half);
    border-radius: var(--brad-std);
}

.card:hover {
    cursor: pointer;
    border: 1px solid transparent;
    outline: none;
    box-shadow: var(--bsh-primary);  
}

.card:focus {
    border: 1px solid transparent;
    outline: none;
    box-shadow: var(--bsh-secondary);   
}

.card__title {
    overflow: hidden;
    display: -webkit-box;

    text-overflow: ellipsis;

    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.card__price {
    font-weight: 700;
}

.card__text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.card__add-to-cart {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.add-to-cart-btn {
    cursor: pointer;

    position: relative;

    display: flex;

    width: fit-content;
    padding: 0.5rem;

    font-size: 1.125rem;
    font-weight: 700;
    color: var(--clr-dark);

    opacity: 0;
    background: var(--clr-slate-dark);
    border: var(--brd-trans-half);
    border-radius: var(--brad-std);
}

.add-btn {
    cursor: pointer;
}

.card:hover .add-to-cart-btn {
    opacity: 1;
}

.card:hover .add-to-cart-btn:hover,
.card:hover .add-to-cart-btn:focus {
    border: 1px solid transparent;
    outline: none;
}
.card:hover .add-to-cart-btn:hover {
    box-shadow: var(--bsh-primary);
}

.card:hover .add-to-cart-btn:focus {
    box-shadow: var(--bsh-secondary );
}

.admin-actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.25rem;
}

.fa-remove{
    width: 0.9rem;
    height: 0.9rem;
}

.fa-edit:hover, .fa-remove:hover {
    color: var(--clr-primary);
}
/* #endregion */


/* #region Media Queries */
@media (max-width: 1870px) {
    .nav,
    main,
    .footer {
        max-width: 1870px;
    }  

    .itemlist {
        overflow: visible;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
    
        margin-bottom: 96px;
        padding: 1rem 0px;
    }
}

@media (max-width: 1554px) {
    .nav,
    main,
    .footer {
        max-width: 1554px;
    }  

    .itemlist {
        overflow: visible;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    
        margin-bottom: 96px;
        padding: 1rem 0px;
    }
}

@media (max-width: 1240px) {
    .nav,
    main,
    .footer {
        max-width: 1240px;
    }  

    .itemlist {
        overflow: visible;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    
        margin-bottom: 96px;
        padding: 1rem 0px;
    }
}

@media (max-width: 924px) {
    .nav,
    main,
    .footer {
        max-width: 924px;
    }  

    .itemlist {
        overflow: visible;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    
        margin-bottom: 96px;
        padding: 1rem 0px;

        text-align: center;
    }

    .searchbar-container {
        flex-direction: column;
    }

    .searchbar {
        width: 100%;
    }

    .card .add-to-cart-btn {
        opacity: 1;
    }
}

/* #region 768hamburguer */
@media (max-width: 768px) {
    .itemlist {
        overflow: visible;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    
        margin-bottom: 96px;
        padding: 1rem 0px;

        text-align: center;
    }

    .searchbar-container {
        flex-direction: column;
    }

    .searchbar {
        width: 100%;
    }
}
/* #endregion */

@media (max-width: 610px) {
    .nav,
    main,
    .footer {
        max-width: 100%;
    }  

    .itemlist {
        overflow: visible;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    
        margin-bottom: 96px;
        padding: 1rem 0px;

        text-align: center;
    }

    .searchbar-container {
        flex-direction: column;
        width: 100%;
    }

    .search-input {
        width: 100%;
    }
}

@media (max-width: 300px) {
    .card {
        overflow-x: auto;
        width: 100%;
    }  

    .searchbar-container > * {
        width: 100%;
    }
    .search-input {
        width: 100%;
    }

    .card__add-to-cart {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
/* #endregion */