<main class="main">
	<div class="container-forms">
		<section class="section-forgot-password">
			<!-- Paso 1: Solicitar correo -->
			<form *ngIf="step === 1" (ngSubmit)="sendRecoveryCode()">
				<h2 class="section-title">Recuperar Contraseña</h2>
				<div class="container email-container">
					<input id="input-email" type="email" placeholder="Correo Electrónico*" [(ngModel)]="email"
						name="email" required />
					<label for="input-email">Correo Electrónico*</label>
				</div>
				<button class="btn btn-send-code" type="submit">Enviar Código</button>
			</form>

			<!-- Paso 2: Ingresar token y nueva contraseña -->
			<form *ngIf="step === 2" (ngSubmit)="changePassword()">
				<h2 class="section-title">Cambiar Contraseña</h2>
				<div class="container token-container">
					<input id="input-token" type="text" placeholder="Token de Recuperación*" [(ngModel)]="recoveryToken"
						name="recoveryToken" required />
					<label for="input-token">Token de Recuperación*</label>
				</div>
				<div class="container password-container">
					<input id="input-new-password" [type]="showNewPassword ? 'text' : 'password'"
						placeholder="Nueva Contraseña*" [(ngModel)]="newPassword" name="newPassword" required />
					<label for="input-new-password">Nueva Contraseña*</label>
					<div class="container--hide-show">
						<button type="button" class="btn--hide-show" (click)="togglePassword('showNewPassword')">
							<div class="inner-container--hide-show">
								<img id="image--toggle"
									[src]="showNewPassword ? (themeService.isDarkModeEnabled() ? 'assets/images/passimg/hide3.png' : 'assets/images/passimg/hide2.png') : (themeService.isDarkModeEnabled() ? 'assets/images/passimg/show3.png' : 'assets/images/passimg/show2.png')"
									alt="Toggle Password Visibility" />
							</div>
						</button>
					</div>
				</div>
				<div class="container password-container">
					<input id="input-confirm-password" [type]="showConfirmPassword ? 'text' : 'password'"
						placeholder="Confirmar Nueva Contraseña*" [(ngModel)]="confirmPassword" name="confirmPassword"
						required />
					<label for="input-confirm-password">Confirmar Nueva Contraseña*</label>
					<div class="container--hide-show">
						<button type="button" class="btn--hide-show" (click)="togglePassword('showConfirmPassword')">
							<div class="inner-container--hide-show">
								<img id="image--toggle"
									[src]="showConfirmPassword ? (themeService.isDarkModeEnabled() ? 'assets/images/passimg/hide3.png' : 'assets/images/passimg/hide2.png') : (themeService.isDarkModeEnabled() ? 'assets/images/passimg/show3.png' : 'assets/images/passimg/show2.png')"
									alt="Toggle Password Visibility" />
							</div>
						</button>
					</div>
				</div>
				<p *ngIf="passwordMismatch" class="error-message">Las contraseñas no coinciden.</p>
				<button class="btn btn-update-password" type="submit">Actualizar Contraseña</button>
			</form>
		</section>
	</div>
</main>