main {
	min-height: 100vh;
	background-color: var(--clr-slate);
  
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
  }
  
  .container-forms {
	display: flex;
	flex-direction: row;
	justify-content: center;
  }
  
  .container {
	position: relative;
	width: 100%;
	margin: 0.8rem 0;
	padding-top: 0.5rem;
  }
  
  .container--hide-show {
	position: absolute;
	top: 12px;
	right: 7px;
  
	width: 2.25rem;
	height: 2.25rem;
  
	border: none;
	border-radius: var(--brad-std);
  }
  
  .section-forgot-password {
	width: 100%;
	max-width: 600px;
	background-color: var(--clr-light);
  
	display: flex;
	flex-direction: column;
  
	padding: 2rem;
	border-radius: 0.5rem;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .section-title {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 2rem;
	text-align: center;
  }
  
  input {
	width: 100%;
	padding: 12px 15px;
  
	font-size: 1.125rem;
	color: var(--clr-dark);
  
	background-color: var(--clr-slate);
	border-radius: var(--brad-std);
  
	transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  }
  
  label {
	pointer-events: none;
  
	position: absolute;
	z-index: 1;
	top: 1.9rem;
	left: 0.95rem;
	transform-origin: left top 0px;
  
	display: flex;
	align-items: center;
  
	font-weight: 600;
	color: transparent;
	background-color: transparent;
  
	opacity: 0;
  
	transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1), color 0.15s cubic-bezier(0.4, 0, 0.2, 1), font-size 0.15s cubic-bezier(0.4, 0, 0.2, 1), line-height 0.15s cubic-bezier(0.4, 0, 0.2, 1), font-weight 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  input:focus + label,
  input:not(:placeholder-shown) + label {
	pointer-events: auto;
	transform: translateY(-200%);
	color: var(--clr-dark);
	opacity: 1;
  }
  
  #input-new-password,
  #input-confirm-password {
	display: flex;
	align-items: center;
  
	height: 3rem;
	padding: 0 3rem 0 1rem;
  
	line-height: 1.25rem;
	color: var(--clr-dark);
  
	border: var(--brd-trans-half);
	margin-bottom: 1.5rem;
  }
  
  #input-token:hover,
  #input-email:hover,
  #input-new-password:hover,
  #input-confirm-password:hover {
	border: 1px solid var(--clr-primary);
  }
  
  #input-token:focus,
  #input-email:focus,
  #input-new-password:focus,
  #input-confirm-password:focus,
  button:focus {
	border: none;
	outline: none;
	box-shadow: var(--bsh-secondary);
  }
  
  #image--toggle {
	align-self: center;
	width: 20px;
	height: 20px;
  }
  
  .btn--hide-show {
	cursor: pointer;
  
	position: relative;
  
	display: inline-flex;
  
	max-height: 48px;
	padding: 0.5rem 0.5rem;
  
	background: transparent;
	border: 1px solid transparent;
	border-radius: var(--brad-std);
  }
  
  .btn--hide-show:hover {
	background: var(--clr-slate-dark2);
	border: 1px solid var(--clr-primary);
  }
  
  .btn--hide-show:focus {
	border: 1px solid transparent;
	box-shadow: var(--bsh-secondary);
  }
  
  .inner-container--hide-show {
	max-width: 20px;
	max-height: 20px;
  }
  
  .error-message {
	color: var(--clr-error);
	font-size: 0.9rem;
	margin-bottom: 1rem;
	text-align: center;
  }
  
  .btn {
	cursor: pointer;
  
	width: 100%;
	height: 48px;
  
	font-size: 1.125rem;
	font-weight: 500;
  
	border: var(--brd-trans-half);
	border-radius: var(--brad-std);
  
	transition: background 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  }
  
  .btn:hover {
	border: 1px solid transparent;
  }
  
  .btn:focus {
	box-shadow: var(--bsh-secondary);
  }
  
  .btn-update-password {
	color: var(--clr-dark);
	background-color: var(--clr-slate);
  }
  
  .btn-update-password:hover {
	background-color: var(--clr-slate-dark2);
  }