<footer class="footer">
	<div class="footer__container__socials">
		<a href="https://www.facebook.com/pencom" target="_blank" rel="noopener noreferrer">
			<i class="fa-brands fa-facebook-f"></i>
		</a>
		<a href="https://www.instagram.com/pencom" target="_blank" rel="noopener noreferrer">
			<i class="fa-brands fa-instagram"></i>
		</a>
		<a href="https://www.twitter.com/pencom" target="_blank" rel="noopener noreferrer">
			<i class="fa-brands fa-x-twitter"></i>
		</a>
	</div>

	<ul class="footer__container__anchors">
		<li><a href="#">Contacto</a></li>
		<li><a href="#">Nuestros servicios</a></li>
		<li><a href="#">Privacidad</a></li>
		<li><a href="#">Términos y condiciones</a></li>
	</ul>

	<div class="footer__container__copyright">
		<p>PenCom Copyright © 2025 PenCom - All rights reserved</p>
	</div>
</footer>