<section class="section-signup">
	<form (ngSubmit)="onSignup()">

		<h2 class="section-title">Crear cuenta</h2>

		<div class="social-container">
			<a href="https://accounts.google.com/ServiceLogin?ltmpl=mobNH" class="social">
				<i class="fa-brands fa-google-plus-g"></i></a>
			<a href="https://im.qq.com/index/" class="social">
				<i class="fa-brands fa-qq"></i></a>
			<a href="https://appleid.apple.com/sign-in" class="social">
				<i class="fa-brands fa-apple"></i></a>
		</div>

		<div class="span-container">
			<hr class="hr-line">
				<span class="span-login">O bien</span>
			<hr class="hr-line">
		</div>

		<div class="container nombre-container">
			<input id="input-name" type="text" placeholder="Nombre" onfocus="changeName(name)"
			onblur="handleBlurName(name)" required />

			<label for="username">Nombre</label>
		</div>

		<div class="container email-container">
			<input id="input-email2" type="email" placeholder="Email*" onfocus="changeMail(mailTwo)"
			onblur="handleBlurMail(mailTwo)" required />

			<label for="user">Email*</label>
		</div>


		<div class="container password-container">
			<input id="input-password2" type="password" placeholder="Contrasena*" onfocus="changePass(passTwo)"
			onblur="handleBlurPass(passTwo)" required />

			<label for="pass">Contrasena*</label>

			<div class="container--hide-show">
				<button class="btn--hide-show" onclick="toggle(passTwo, showTwo, hideTwo)">
					<div class="inner-container--hide-show">
						<img id="image--show2" src="../images/passimg/show2.png" alt="EyeShow">
						<img id="image--hide2" src="../images/passimg/hide2.png" alt="EyeHide">
					</div>
				</button>
			</div>

			<div class="container password-container">
				<input id="input-password3" type="password" placeholder="Repetir contrasena*" tabindex="-1"
				value="" disabled="" onfocus="changePass(passThree)" onblur="handleBlurPass(passThree)"
				required/>

				<label for="input-password3">Repetir Contrasena*</label>

				<div class="container--hide-show">
					<button class="btn--hide-show" onclick="toggle(passThree, showThree, hideThree)">
						<div class="inner-container--hide-show">
							<img id="image--show3" src="../images/passimg/show2.png" alt="EyeShow">
							<img id="image--hide3" src="../images/passimg/hide2.png" alt="EyeHide">
						</div>
					</button>
				</div>
			</div>

			<button class="btn btn-signup">Crear Cuenta</button>

			<div class="span-container">
				<hr class="hr-line">
					<span class="span-login">Ya tengo una cuenta</span>
				<hr class="hr-line">
			</div>

			<button id="signupButton" class="change btn btn-login" onclick="toggleForms(true)">
				Iniciar Sesión
			</button>
		</div>

	</form>
	
</section>